@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

html {
    background-image: url('../img/acessibilidade.jpg'); 
    background-attachment: fixed;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
}

.container2 {
    max-width: 30vw;
    margin: auto;
    padding: 1rem;
    border-radius: 20px;
    background-color: rgba(0, 0, 139, 0.863);
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.container2 h1 {
    padding: 1rem;
    font-size: 3rem;
    text-align: center;
    color: yellow;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.548);
}

.container2 h2 {
    padding-top: 1rem;
    font-size: 2rem;
    text-align: center;
    color: yellow;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.548);
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 2.5rem;
    gap: 1vw;
    margin: 0rem 4rem;
}

label {
    color: yellow;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.301);
}

.form-group2 {
    margin: 2rem 0rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

.form-group2 label {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: yellow;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);
}

input {
    width: 15vw;
    height: 1.5rem;
    font-size: 2.5vh;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.616);
}

button {
    padding: 1vw 2vw;
    background-color: yellow;
    border-radius: 8px;
    cursor: pointer;
    font-size: 2vh;
    transition: all 0.1s;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

textarea {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.342);
    resize: none;
    border-radius: 10px;
    overflow: auto;
    padding: 1rem;
    width: 20vw;
    align-items: center;
    box-sizing: border-box;
}

button#envia:hover {
    background-color: rgb(0, 224, 0);
    color: #000000;
}

button#limpa:hover {
    background-color: red;
    color: #000000;
}

div#botoes {
    display: flex;
    gap: 5vw;
    align-items: center;
    justify-content: center;
}

@media (max-width: 769px) {
    .container2 {
        max-width: 50vw;
    }

    button {
        padding: 3vw;
    }

    input {
        min-width: 7rem;
        font-size: 0.8rem;
    }

    textarea {
        width: 40vw;
    }

    .form-group {
        margin: 0rem 1rem;
    }
}