@charset "UTF-8";

body {
    background-color: rgba(0, 132, 255, 0.116);
}

main {
    padding: 20px;
    margin: auto;
    margin: 0vw 15vw;
}

h1 {
    text-align: center;
    margin: 0vw 2vw;
    padding: 5rem 0rem 2rem 0rem;
    font-size: 9vh;
    color:  rgb(0, 0, 255);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.226); 
}

h1:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

h2 {
    text-align: center;
}

.faq-item {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
}

.faq-content {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding: 3rem;
    background-color: rgba(75, 159, 255, 0.336); 
    border: 2px solid #0026ff;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.336); 
    border-radius: 10px;
    align-items: center;
}

.faq-content img {
    max-width: 30vw;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.336); 
}

.faq-content p {
    flex: 1;
    max-width: 30vw;
    text-align: justify;
    font-size: 1.2rem;
}

.faq-item.special .special-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-items: center;
}

.faq-item.special img {
    max-width: 30vw;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.336); 
}

.faq-item.special p {
    flex: 1;
    color: #00274d;
}

.btn-container {
    text-align: center;
    margin-top: 3rem;
}

.btn-container button {
    background-color: #007bff;
    color: white;
    font-size: 4vh;
    padding: 1rem 3rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.336);
    transition: background-color 0.3s ease;
    text-decoration: none;
    transform: 0.2s ease;
}

.btn-container button:hover {
    background-color: rgb(0, 0, 255);
    transform: scale(1.2);
    transition: 0.3s ease;
}

@media (max-width: 769px) {
    main h1 {
        font-size: 8vh;
    }
    main {
        margin: 0vw 5vw;
    }
}

@media (max-width: 429px) {
    .faq-content {
        flex-direction: column; 
        gap: 1rem; 
        padding: 1rem;
    }

    .faq-content img {
        max-width: 100%; 
    }

    .faq-content p {
        max-width: 100%; 
        font-size: 1rem; 
    }

    .btn {
        font-size: 2vh;
        padding: 1rem 2rem;
    }
}
